img {
    display: grid;
    align-items: center;
    height: 700px;
    width: 700px;
    transition: transform 0.2s;
    border-color: black;
    border-style: solid;
     margin-left: 50px;
    margin-top: 50px;
    position: absolute;

}

img:hover  {
   transform : rotate(30deg) scale(1.2);
   
 }
 body{
  background-color:burlywood;
}
h1{
  color:crimson;
}
